---
import { Icon } from "astro-icon/components";
import BannerCarouselItem, {
  type IBannerCarouselItemProps,
} from "./BannerCarouselItem.astro";

type Props = {
  items?: IBannerCarouselItemProps[];
  id: string;
};

const { items = [], id } = Astro.props;
---

<div class="banner-carousel swiper" data-banner-not-initialized id={id}>
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    {items.map((slide) => <BannerCarouselItem {...slide} />)}
  </div>
  <!-- If we need pagination -->
  <div class=`swiper-pagination pagination-${id}`></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-navigation">
    <div class=`swiper-button-prev prev-${id} group`>
      <Icon
        class="block group-hover:scale-150 duration-75 ease-out transition-all"
        name="heroicons:chevron-left-16-solid"
      />
    </div>
    <div class=`swiper-button-next next-${id} group`>
      <Icon
        class="block group-hover:scale-150 duration-75 ease-out transition-all"
        name="heroicons:chevron-right-16-solid"
      />
    </div>
  </div>
</div>

<script>
  import "swiper/css";
  import "swiper/css/pagination";
  import "swiper/css/effect-fade";
  import { Swiper } from "swiper";
  import { Pagination, Navigation, Autoplay, EffectFade } from "swiper/modules";

  const bannerCarouselCollection =
    document.querySelectorAll(".banner-carousel");

  bannerCarouselCollection.forEach((carousel) => {
    const id = carousel.id;

    new Swiper(`#${id}`, {
      autoplay: {
        delay: 15000,
        disableOnInteraction: false,
      },
      effect: "fade",
      pagination: {
        el: `.pagination-${id}`,
      },
      navigation: {
        nextEl: `.next-${id}`,
        prevEl: `.prev-${id}`,
      },
      modules: [Pagination, Navigation, Autoplay, EffectFade],
    });

    setTimeout(() => {
      carousel.toggleAttribute("data-banner-not-initialized");
    }, 500);
  });
</script>
